# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Ansoft_practise/Capacitor.aedt.lock
Ansoft_practise/Capacitor.aedtresults/.Maxwell3DDesign1.asol.semaphore
Ansoft_practise/Capacitor.aedtresults/.Maxwell3DDesign1.asol_priv.semaphore
Ansoft_practise/Capacitor.aedtresults/ManagedFiles_Design0.asol
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.asol
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.asol_priv
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_MI0_V43.sd/initial.stats
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_S9_MI0_V43.sd/current.stats
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_S9_V43.cmesh74/current.ngmesh
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_S9_V43.profile
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_S9_V43_P1.adp
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_S9_V43_P2.adp
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL10_NFSP10_V43.sd
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL10_PAR0_V2.sd
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL11_PAR0_V2.sd
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL11_V43.Field76/fields.hdr
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL11_V43.Field76/fields.plo
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL11_V43.Field76/fields.sat
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL11_V43.Field76/fields.sol
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL11_V43.Field76/fields.sstr
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL11_V43.Field76/fields.str
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_SOL11_V43.Field76/fields.stt
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/DV40_V43.imesh/initial.ngmesh
Ansoft_practise/Capacitor.aedtresults/Maxwell3DDesign1.results/nominalmesh.g3derr
Ansoft_practise/Capacitor.aedtresults/mf_0/fldplt/Plot0.tmp
Ansoft_practise/Capacitor.aedtresults/mf_0/GeometryCache/CacheDataVersion.tmp
Ansoft_practise/Capacitor.aedtresults/mf_0/GeometryCache/InterrogationCache.tmp
Ansoft_practise/Capacitor.aedtresults/mf_0/GeometryCache/OperationDataCache.tmp
Ansoft_practise/Capacitor.aedtresults/mf_0/svcache/HDR23C0560815934994165.tmp
Ansoft_practise/Capacitor.aedtresults/mf_0/ValidationCache/HDR22B7560815934993352.tmp
Ansoft_practise/Capacitor.aedtresults/mf_0/ValidationCache/VI22B7560815934993353.tmp
Maxwell/maxwell.ini
Maxwell/maxwellrc
